<?xml version="1.0"?>
<model xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.humanbrainproject.eu/SP10/2017/robot_model_config" xsi:schemaLocation="http://schemas.humanbrainproject.eu/SP10/2017/robot_model_config ../robot_model_configuration.xsd">
    <name>Amphibot robot</name>
    <version>1.0</version>
    <thumbnail>thumbnail.png</thumbnail>
    <sdf version="1.5">sdf/amphibot8_joints.sdf</sdf>
    <description>
       amphibot model
    </description>

</model>

